.container-search {
    color: var(--secundary-color);
    width: 70%;
    padding: 3rem;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 1.5rem;
}

h1 {
    color: var(--secundary-color);
    padding-bottom: 3rem;
}

input {
    color: var(--secundary-color);
    border-radius: 10px;
    box-shadow: 0 0 15px #ccc;
    transition: 0.3s;
    padding: 0.7rem;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 50rem;
}

.btn {
    display: flex;
    justify-content: flex-end;
    color: var(--secundary-color);
    border-radius: 10px;
    box-shadow: 0 0 15px #ccc;
    transition: 0.3s;
    padding: 0.7rem;
    gap: 1rem;
    text-align: center;
}